.col-md-4{
    padding-left: 1px;
    padding-right: 1px;
    height: 500px;
    padding-top: 3px;
  }
  h3.tittle {
    text-align: center;
    font-size: 3em;
    color: #2c363e;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  h3.tittle.cen {
    color: #fff;
  }

  .contain {
    position: relative;
    width: 50%;
    width: 100%;
    height: 100%;
}

.image {
  opacity: 1;
  display: block;
  height: 100%;
  width: 100%;
  
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.contain:hover .image {
  opacity: 0.3;
}

.contain:hover .middle {
  opacity: 1;
}

.text {
  background-color: #dd4026;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}